body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    background: url("images/bg-desktop.svg") no-repeat;
    background-size: cover;
    background-position: center;
    background-color: hsl(257, 40%, 49%);
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Layout and page structure */

main {
    width: 85%;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}


/* community section */

.intro {
    margin: 0;
    width: 50%;
}

.intro image {
    width: 90%;
}

.register-button {
    background-color: white;
    padding: 1rem 4rem;
    border-radius: 2rem;
    color: hsl(300, 69%, 71%);
}

.register-button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px hsl(300, 69%, 71%), -1px -1px 5px hsl(300, 69%, 71%);
}


/* community section END */


/* Header */

header {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin-bottom: 7rem;
}

header img {
    margin-left: 1.4rem;
    margin-top: 2rem;
}


/* Header END */


/* attribution */

.attribution p {
    font-size: 1.2rem;
}

.attribution a:last-child {
    color: cyan;
    font-family: "Kalam", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.attribution a:last-child:hover {
    text-shadow: 1px 1px 5px purple, -1px -1px 5px purple;
}


/* attribution END */


/* footer */

footer {
    margin-top: 5rem;
    display: flex;
    width: 80%;
}

footer ul {
    width: 13%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}

footer li {
    list-style: none;
    cursor: pointer;
}

footer svg {
    width: 32px;
    border: 1px solid white;
    border-radius: 50%;
    fill: white;
    padding: 5px;
}

footer svg:hover {
    fill: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}


/* Layout END */


/* Typography */

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 2.6rem;
    margin-top: 3rem;
}

.intro p {
    font-size: 1.4rem;
    margin-bottom: 3rem;
}


/* Typography END */


/* Media queries */

@media screen and (max-width: 1700px) {
    .intro {
        width: 40%;
    }
    body {
        background-size: auto 150%;
    }
}

@media screen and (max-width: 1370px) {
    body {
        background-size: auto 150%;
    }
    main {
        width: 95%;
    }
    .intro {
        width: 40%;
    }
    .figure-image {
        width: 80%;
    }
    h1 {
        font-size: 2rem;
    }
    footer ul {
        width: 20%;
    }
}

@media screen and (max-width: 1000px) {
    body {
        background-size: auto 170%;
    }
    .container {
        display: flex;
        justify-content: space-evenly;
    }
    .intro {
        width: 90%;
    }
    .intro p {
        font-size: 1rem;
    }
    h1 {
        font-size: 1.7rem;
    }
    footer ul {
        width: 30%;
    }
}


/* mobile and tablets */

@media screen and (max-width: 800px) {
    body {
        background: url("images/bg-mobile.svg") no-repeat;
        background-size: cover;
        background-color: hsl(257, 40%, 49%);
    }
    .container {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    .figure-image {
        margin: 0 auto;
        width: 100%;
    }
    .intro {
        width: 100%;
    }
    h1 {
        text-align: center;
    }
    .button {
        margin: 0 auto;
        width: 50%;
    }
    .register-button {
        display: block;
        text-align: center;
    }
    footer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    footer ul {
        width: 100%;
        justify-content: space-around;
    }
    .attribution p {
        font-size: 0.9rem;
    }
    .attribution a:last-child {
        font-size: 1.1rem;
    }
}


/* Media queries END */